.meeple {
  border: 1px solid #000;

  &.COMMON {
    width: 75%;
    height: 75%;
  }

  &.FAT {
    width: 100%;
    height: 100%;
  }

  &.BUILDER {
    width: 40%;
    height: 100%;
  }

  &.PIG {
    width: 100%;
    height: 60%;
    border-radius: 50%;
  }
}
