.fullWidth {
  width: 100%;
}

.layout {
  &_fixed {
    table-layout: fixed;
  }

  &_auto {
    table-layout: auto;
  }
}

.root {
  border-collapse: collapse;

  thead, tfoot {
    td {
      font-weight: bold;
    }
  }

  &.bordered {
    td {
      border: 1px solid #000;
    }
  }
}
