div
  input.boarder-input.success.create-room-btn(
    type="submit"
    value="{i18n.t('games.global.lobby.create_room')}"
    d-bind-click="{onCreateRoomClick}"
  )
table.rooms-table(d-class="{gameName + '-rooms-table'}")
  thead
    th.room-name {i18n.t('games.global.lobby.col_names.name')}
    th.room-status {i18n.t('games.global.lobby.col_names.status')}
    th.room-players {i18n.t('games.global.lobby.col_names.players')}
    th.room-actions {i18n.t('games.global.lobby.col_names.actions')}
  tbody.rooms(d-class="{gameName + '-rooms'}")
    d-each(set="{rooms}", item="room", uid="{room.id}")
      tr(d-class="{['room', gameName + '-room']}")
        td {room.name}
        td {i18n.t('games.global.lobby.room_statuses.' + room.status)}
        td {room.players}
        td
          a.play-link(href="{constructPlayLink(room)}")
            i.fa.fa-sign-in.enter-room
          a.observe-link(href="{constructObserveLink(room)}")
            i.fa.fa-eye.enter-room
