table.rooms-table(d-class="{gameName + '-rooms-table'}")
  thead
    th.room-name {i18n.t('games.global.lobby.col_names.name')}
    th.room-status {i18n.t('games.global.lobby.col_names.status')}
    d-if(if="{gameName === 'pexeso'}")
      th.room-set {i18n.t('games.pexeso.lobby.col_names.set')}
    th.room-players {i18n.t('games.global.lobby.col_names.players')}
    th.room-actions {i18n.t('games.global.lobby.col_names.actions')}
  tbody.rooms(d-class="{gameName + '-rooms'}")
    d-each(set="{rooms}", item="room", uid="{room.id}")
      tr(d-class="{['room', gameName + '-room']}")
        td.room-name {room.name}
        td.room-status {i18n.t('games.global.lobby.room_statuses.' + room.status)}
        d-if(if="{gameName === 'pexeso'}")
          td.room-set {room.gameOptions.set}
        td.room-players
          div.players-container
            d-each(set="{room.players}", item="player", uid="{player.id}")
              div.avatar-container
                img.avatar(src="{player.avatar}")
        td.room-actions
          a.play-link(href="{constructPlayLink(room)}")
            i.fa.fa-sign-in.enter-room
          a.observe-link(href="{constructObserveLink(room)}")
            i.fa.fa-eye.enter-room
    tr
      td.room-name
      td.room-status
      d-if(if="{gameName === 'pexeso'}")
        td.room-set
          select(d-value="pexesoChosenSet")
            d-each(set="{pexesoSets}", item="set", uid="{set}")
              option(value="{set}") {set}
      td.room-players
      td.room-actions
        input.boarder-input.success.create-room-btn(
          type="submit"
          value="{i18n.t('games.global.lobby.create_room')}"
          d-bind(click)="{onCreateRoomClick}"
        )
