.statusAndActions {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
}

.players {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 12px;
}

.activePlayer {
  align-items: center;
}
