.tableCell {
  text-align: center;

  &.positive, &.negative {
    color: #fff;
  }

  &.positive {
    background-color: #080;
  }

  &.negative {
    background-color: #f00;
  }
}

.table {
  margin-top: 32px;
}

.tilesCaption {
  width: 100px;
}
