.color {
  &_red {
    --color: red;
  }

  &_blue {
    --color: blue;
  }

  &_green {
    --color: green;
  }
}

.shape {
  &_oval {
    width: calc(var(--size) * 1.5);
    height: var(--size);
    border-radius: calc(var(--size) * 0.1);
  }

  &_rhombus {
    --stripedDirection: 45deg;
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    transform: rotate(45deg);
  }

  &_wave {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }
}

.fill {
  &_empty {
    border: 3px solid var(--color);
  }

  &_filled {
    background: var(--color);
  }

  &_striped {
    border: 3px solid var(--color);
    background: repeating-linear-gradient(
      var(--stripedDirection),
      transparent,
      transparent 3px,
      var(--color) 3px,
      var(--color) 6px
    );
  }
}

.root {
  --size: 42px;
  --stripedDirection: to right;
}

@media (max-width: 1000px) {
  .fill {
    &_empty {
      border-width: 1px;
    }

    &_striped {
      border-width: 1px;
      background: repeating-linear-gradient(
        var(--stripedDirection),
        transparent,
        transparent 1px,
        var(--color) 1px,
        var(--color) 2px
      );
    }
  }

  .root {
    --size: 20px;
  }
}
