div
  input.boarder-input.success.create-room-btn(
    type='submit'
    value=createRoomCaption
  )
table.rooms-table.hexagon-rooms-table
  thead
    th Name
    th Status
    th Players
    th Actions
  tbody.rooms.hexagon-rooms
