mixin input-container(attrs)
  div.input-container
    if attrs.type !== 'submit'
      span.validate-error
      div.input-container2
        input&attributes(attrs)
        div.validate-icon-container
          i.fa
    else
      input&attributes(attrs)

div.register-block
  span.register-caption= registerCaption
  form.register-form
    div.register-spinner-container
    +input-container({
      type: 'login',
      name: 'login',
      placeholder: loginCaption,
      required: ''
    })
    +input-container({
      type: 'email',
      name: 'email',
      placeholder: emailCaption,
      required: ''
    })
    +input-container({
      type: 'password',
      name: 'password',
      placeholder: passwordCaption,
      required: ''
    })
    +input-container({
      type: 'password',
      name: 'password-repeat',
      placeholder: passwordRepeatCaption,
      required: ''
    })
    +input-container({
      class: 'success',
      type: 'submit',
      value: registerActionCaption
    })
