include ../mixins/popup

div.settings-instance-section.change-avatar-section
  h2.settings-instance-section-header= i18n.t('settings.states.profile.avatar.header')
  div.main.avatar-container
    img.main.avatar&attributes(avatarAttrs)
    div.avatar-replacement
      i.fa.fa-image
    div.open-popup
    +popup()
      div.avatars-container
        div.spinner-container
        div.avatars.hidden
          div.avatar-container.to-upload
            form.add-avatar
              label.upload-file-btn
                i.fa.fa-upload
