include ../mixins/popup

div.settings-instance-section.change-avatar-section
  h2.settings-instance-section-header= i18n.t('settings.states.profile.avatar.header')
  div.main.avatar-container
    -
      const avatarAttrs = user.avatar
        ? { src: user.avatar }
        : {};

    img.avatar&attributes(avatarAttrs)
    div.open-popup
    +popup()
      div.avatars-container
        div.spinner-container
        div.avatars.hidden
