mixin input-container(attrs)
  div.input-container
    if attrs.type !== 'submit'
      span.validate-error
      div.input-container2
        input.boarder-input&attributes(attrs)
        label.validate-icon-container(for=attrs.id)
          i.fa
    else
      input.boarder-input&attributes(attrs)

div.settings-instance-section.change-password-section
  h2.settings-instance-section-header
    span.change-password-header= i18n.t('settings.states.account.change_password.header')
    div.change-password-spinner-container
  form.change-password-form
    +input-container({
      id: 'current-password',
      type: 'password',
      name: 'current-password',
      placeholder: i18n.t('settings.states.account.change_password.fields.current_password')
    })
    +input-container({
      id: 'new-password',
      type: 'password',
      name: 'password',
      placeholder: i18n.t('settings.states.account.change_password.fields.new_password')
    })
    +input-container({
      id: 'password-repeat',
      type: 'password',
      name: 'password-repeat',
      placeholder: i18n.t('settings.states.account.change_password.fields.password_repeat')
    })
    +input-container({
      class: 'success',
      type: 'submit',
      value: i18n.t('settings.states.account.change_password.action')
    })
