{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "server": "./app/server",
          "client": "./app/client",
          "common": "./app/common"
        }
      }
    ]
  ]
}
