{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "eslint-plugin-import-helpers"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "import-helpers/order-imports": [
      "error",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          "/queries/",
          "/(/|^)types?(/|$)/",
          "/utilities\\//",
          "/components\\//",
          "/client\\//",
          "/server\\//",
          ["parent", "sibling", "index"]
        ]
      }
    ],
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/interface-name-prefix": ["error", "always"],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "block-spacing": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": false
      }
    ],
    "block-scoped-var": [
      "error"
    ],
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-location": [
      "error",
      "property"
    ],
    "dot-notation": [
      "error",
      {
        "allowKeywords": true
      }
    ],
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "guard-for-in": [
      "error"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict"
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "max-statements-per-line": [
      "error",
      {
        "max": 1
      }
    ],
    "new-parens": [
      "error"
    ],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "no-alert": 2,
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-catch-shadow": 2,
    "no-cond-assign": 0,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-dupe-class-members": 0,
    "no-else-return": 2,
    "no-eval": 2,
    "no-extra-label": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-inline-comments": 2,
    "no-label-var": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 2,
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          ["&&", "||"]
        ]
      }
    ],
    "no-multi-str": 2,
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "no-negated-condition": 2,
    "no-nested-ternary": 0,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-proto": 2,
    "no-sequences": 2,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-throw-literal": 2,
    "no-undef": 0,
    "no-undef-init": 2,
    "no-unmodified-loop-condition": 2,
    "no-unneeded-ternary": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-with": 2,
    "no-whitespace-before-property": 2,
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "operator-assignment": [
      "error",
      "always"
    ],
    "one-var": [
      "error",
      "never"
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["return", "block", "block-like", "break", "continue"],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "block", "block-like", "break", "continue"]
      },
      {
        "blankLine": "always",
        "prev": ["const", "let", "var"],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["const", "let", "var"]
      },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      },
      {
        "blankLine": "any",
        "prev": "case",
        "next": "case"
      },
      {
        "blankLine": "always",
        "prev": "import",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "import"
      },
      {
        "blankLine": "any",
        "prev": "import",
        "next": "import"
      }
    ],
    "quote-props": [
      "error",
      "as-needed"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": [
      "error"
    ],
    "space-unary-ops": [
      "error"
    ],
    "spaced-comment": 0,
    "switch-colon-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "unicode-bom": [
      "error",
      "never"
    ],
    "wrap-iife": [
      "error",
      "inside"
    ],
    "yoda": [
      "error",
      "never"
    ],

    "arrow-parens": [
      "error",
      "always"
    ],
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "no-duplicate-imports": 2,
    "no-useless-computed-key": 2,
    "no-useless-constructor": 2,
    "no-useless-rename": 2,
    "no-var": 2,
    "object-shorthand": [
      "error"
    ],
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ],
    "prefer-const": [
      "error"
    ],
    "prefer-template": [
      "error"
    ],
    "rest-spread-spacing": [
      "error",
      "never"
    ],
    "template-curly-spacing": [
      "error",
      "never"
    ],

    "react/no-did-update-set-state": 0,
    "react/no-string-refs": 2,
    "react/prop-types": 0
  }
}
