node_modules/
.idea/
logs/
*.log
npm-debug.log*

app/server/db/config.json
app/server/i18n/
app/config/config.json

public/js/all.js
public/js/all.js.map
public/css/all.css
public/css/all.css.map
public/fonts/font-awesome/
public/i18n/
public/attachments/
