node_modules/
.idea/
tmp/
logs/
*.log
npm-debug.log*

app/server/db/config.js
app/config/config.json

app/server/i18n/

public/js/all.js
public/js/all.js.map
public/css/all.css
public/css/all.css.map
public/fonts/font-awesome/
public/images/flags
public/i18n/
public/attachments/
