.root {
  padding-right: 8px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 4px;

  &.dead {
    opacity: 0.25;
  }
}

.color {
  width: 8px;
}

.login {
  padding: 8px 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
