@import "client/styles/mixins";

.head {
  position: sticky;
  top: 0;
  padding: 12px var(--offset);
  background-color: var(--modalBackground);
}

.tradeVariant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px var(--offset);
  border-radius: 8px;
  cursor: pointer;

  & > div {
    &:nth-child(2) {
      justify-content: center;
    }
  }

  &:hover {
    background: #eee;
  }
}

.content {
  margin: 0 calc(-1 * var(--offset));
  height: 100%;
  overflow: auto;
}

.modalContent {
  overflow: visible;
}

.root {
  --offset: 12px;
}

@include desktop {
  .root {
    min-width: 500px;
  }
}
