@import (reference) '../constants';
@import (reference) './transitions';

.center() {
  text-align: center;
}

.bordered(@color: black, @size: 1px) {
  border: @size solid @color;
}

.br(@size) {
  border-radius: @size;
}

.bold() {
  font-weight: bold;
}

.pointer() {
  cursor: pointer;
}

.relative() {
  position: relative;
}

.absolute() {
  position: absolute;
}

.hidden() {
  display: none;
}

.overflow-text() {
  .overflow-hidden();

  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflow-hidden() {
  overflow: hidden;
}

.block() {
  display: block;
}

.inline-block() {
  display: inline-block;
}

.pseudo(@content: '') {
  content: @content;
}

.link() {
  .pointer();
  .tr-color(@green-dark, @orange-darker, @orange-very-dark);

  text-decoration: none;
}

.no-select() {
  user-select: none;
}

.shadow {
  box-shadow: 0 0 @w05 rgba(0,0,0,0.25);
}
