div.pexeso-game.row
  div.field.col-xs-12.col-sm
    d-each(set="{field}", item="row", index="y", uid="{y}")
      div.cards-row
        d-each(set="{row}", item="card", index="x", uid="{x}")
          div.card-container
            d-if(if="{card.isInPlay}")
              img.card(
                d-class="{[card.opened && 'opened', card.beforeNotInPlay && 'not-in-play']}"
                d-on-transitionend="{onTransitionEnd(card)}"
                d-on-click="{turnCard(card)}"
                src="{card.isTurned ? constructImageURL(card) : backImage}"
              )
  CommonPlayersInGameBlock(players="{args.players}", containerCls="col-xs-12 col-sm")
