.caption {
  padding: 3px 8px;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 8px #000;
}

.game {
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #000;
  background-position: 50% 50%;
  background-size: cover;
}

.games {
  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  grid-gap: 8px;
  margin-top: 20px;
}

.root {
  --columns-count: 5;

  @media (max-width: 1440px) {
    --columns-count: 4;
  }

  @media (max-width: 1080px) {
    --columns-count: 3;
  }

  @media (max-width: 640px) {
    --columns-count: 2;
  }
}
