@import "client/styles/mixins";

.caption {
  padding: 3px 8px;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 8px #000;
}

.game {
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  border: 2px solid #000;
  background-position: 50% 50%;
  background-size: cover;
}

.games {
  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  grid-gap: 8px;
}

.root {
  @include desktop {
    --columns-count: 4;
  }

  @include mobile {
    --columns-count: 2;
  }
}
