div.survival-online-game
  canvas(d-node="canvas").map
  SurvivalGameInventory(
    inventory="{player.inventory}"
    changeInventory="{changeInventory}"
    useInventoryItem="{useInventoryItem}"
  )
