@import (reference) '../mixins';

@border-line-width: 2px;

html {
  height: 100%;

  * {
    .reset();
  }
}

body {
  .bg(@gray-very-light);

  height: 100%;
}

#dwayne-router {
  .flex-col-stretch();

  [dwayne-router-state] {
    .flex-col-stretch();
    .flx();
  }
}

.base-state {
  min-height: 100%;
}

.main-header {
  .flex-stretch();
  .relative();

  height: @h2;

  &:after {
    .pseudo();
    .absolute();
    .block();
    .bg(#000);

    bottom: -@border-line-width;
    left: 0;
    width: 100%;
    height: @border-line-width;
  }

  .header-caption {
    .flex-col();
    .flx(70%);

    align-items: flex-start;

    padding-left: @w2;
  }

  .register-link,
  .login-link {
    .relative();
    .flex();
    .flx(15%);

    height: 100%;

    &:before {
      .pseudo();
      .absolute();
      .block();
      .bg(#000);

      top: 10%;
      left: 0;
      height: 80%;
      width: @border-line-width;
    }
  }
}

.main-content {
  .flex-col-stretch();
  .flx();

  padding: @h1 0;
  margin-top: @border-line-width;
  margin-bottom: @border-line-width;
}

.main-footer {
  .flex-col-stretch();
  .relative();

  height: @h2;

  &:before {
    .pseudo();
    .absolute();
    .block();
    .bg(#000);

    top: -@border-line-width;
    left: 0;
    width: 100%;
    height: @border-line-width;
  }

  .languages {
    .flex();

    a {
      .relative();

      &:visited {
        .unvisit();
      }

      &.empty {
        margin: 0 @h05;

        &:before {
          .pseudo();
          .absolute();
          .block();
          .bg(#000);

          left: @border-line-width/2;
          height: 100%;
          width: @border-line-width;
        }
      }
    }
  }
}
