@import (reference) '../mixins';

@import './base/header';
@import './base/alerts';
@import './base/footer';

body {
  .bg(@gray-very-light);

  height: 100%;
}

#dwayne-router {
  .flex-col-stretch();

  [dwayne-router-state] {
    .flex-col-stretch();
    .flx();
  }
}

.base-state {
  min-height: 100%;
}

.main-content {
  .flex-col-stretch();
  .flx();
  .relative();
  .overflow-hidden();

  padding: @h1 0;
  margin-top: @border-line-width;
  margin-bottom: @border-line-width;
}
