@import (reference) '../mixins';

.route-lobby {
  justify-content: flex-start !important;
}

.rooms-table {
  .bordered();

  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th, td {
    .bordered();
    .center();
    .overflow-text();

    padding: @hs @ws;
  }

  th {
    .bg(@gray-very-light);

    height: @h1;
  }

  td {
    height: @h1 + @h05;
  }

  .room-name {
    width: 35%;
  }

  .room-status {
    width: 25%;
  }

  .room-players {
    width: 25%;

    .players-container {
      .flex();

      .avatar-container {
        .br(@border-radius);

        width: @h1;
        height: @h1;

        &:not(:first-child) {
          margin-left: @ws/2;
        }
      }
    }
  }

  .room-actions {
    width: 15%;
  }

  .rooms {
    .room {
      .observe-link {
        margin-left: @ws;
      }
    }
  }
}
