@import (reference) '../mixins';

.rooms-table {
  .bordered();

  width: 100%;
  border-collapse: collapse;

  th, td {
    .bordered();
    .center();
  }

  .rooms {
    .room {
      .observe-link {
        margin-left: @ws;
      }
    }
  }
}
