@import (reference) '../mixins';

.rooms-table {
  .bordered();

  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th, td {
    .bordered();
    .center();
    .overflow-text();

    height: @h1;
    padding: @hs @ws;
  }

  th {
    .bg(@gray-very-light);
  }

  .room-name {
    width: 35%;
  }

  .room-status {
    width: 25%;
  }

  .room-players {
    width: 25%;
  }

  .room-actions {
    width: 15%;
  }

  .rooms {
    .room {
      .observe-link {
        margin-left: @ws;
      }
    }
  }
}
