@import (reference) '../mixins';

.register-state {
  .flex();
}

.register-block {
  .flex-col-stretch();
  .bordered();
  .bg(@green-very-light);

  width: @w8;
  height: @h15;
  padding: @h1 @w1;

  .register-caption {
    .center();
    .flx2(24px);
    .bold();

    font-size: 24px;
  }

  .register-form {
    .flex-col-stretch();
    .flx();

    & > :first-child {
      .flex();

      height: @h1;

      .register-spinner {
        height: 100%;
      }
    }

    .input-container {
      &:not(:last-child):not(:first-child) {
        .flex-col-stretch();

        margin-bottom: 2 * @hs;
      }

      &:last-child {
        .flex();

        margin-top: 4 * @hs;
      }

      .validate-error {
        .overflow-text();

        margin: 0 0 3px 3px;
        font-size: 12px;
        height: 12px;
        line-height: 0.9;
        color: @red;
      }

      .input-container2 {
        .flex();
        .relative();

        width: 100%;

        input {
          padding-right: @h1;
        }

        .validate-icon-container {
          .absolute();
          .flex();

          right: 0;
          width: @h1;
          height: @h1;

          .register-input-spinner {
            width: @h05;
            height: @h05;
          }

          .fa {
            &.fa-close {
              color: @red;
            }

            &.fa-check {
              color: @green;
            }
          }
        }
      }

      input {
        .boarder-input();
        .flx(100%);
      }
    }
  }
}
