@import (reference) '../mixins';

html {
  height: 100%;

  * {
    .reset();
  }
}

a {
  .tr(color);

  color: @green-dark;
  text-decoration: none;

  &:hover {
    color: @orange-darker;
  }

  &:active {
    color: @orange-very-dark;
    transition-duration: 0s;
  }
}
