@import "client/styles/mixins";

.row {
  @include withTransition();

  background-color: transparent;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
}

.indexCell, .resultCell {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.indexCell {
  width: var(--indexWidth);
}

.resultCell {
  width: calc((100% - var(--indexWidth)) / 4);
}

.backButton {
  align-self: flex-start;
}

.backIcon {
  width: 24px;
}

.winnerHeader {
  align-self: center;
  text-align: center;
}

.winner {
  font-weight: bold;
}

.modalContent {
  --indexWidth: 60px;

  &.results {
    max-width: 960px;
  }
}
