.root {
  font-weight: bold;
  line-height: 1;
}

.size_s {
  font-size: 13px;
}

.size_m {
  font-size: 15px;
}

.size_l {
  font-size: 18px;
}

.size_xl {
  font-size: 24px;
}

.size_xxl {
  font-size: 32px;
}

.weight_normal {
  font-weight: normal;
}

.weight_bold {
  font-weight: bold;
}
