@import "client/styles/mixins";

.tilesGrid {
  display: grid;
  grid-auto-rows: max-content;
}

.tile {
  &.impossible, &.disabled {
    opacity: 0.5;
  }

  &.disabled {
    pointer-events: none;
  }
}

.waitsCaption {
  width: 100px;
}

.tile, .tiles, .waitsCaption {
  flex-shrink: 0;
}
