.tilesGrid {
  display: grid;
  grid-auto-rows: max-content;
}

.tile {
  &:not(.disabled) {
    cursor: pointer;
  }

  &.impossible, &.disabled {
    opacity: 0.5;
  }

  &.disabled {
    pointer-events: none;
  }
}

.waitsCaption {
  width: 100px;
}

.root {
  width: 1080px;
  min-height: 600px;
}
