div.players-in-game-list(d-class="{args.containerCls}")
  d-each(set="{args.players}", item="player", uid="{player.id}")
    div.player.row(d-class="{[player.active && 'active', $index && 'marg-t-10']}")
      d-if(if="{player.color}")
        div.color-container(d-style="{{ background: COLORS[player.color] }}")
      div.avatar-container
        img.avatar(src="{player.avatar}")
      div
        div {i18n.t('games.global.room.player') + ': ' + player.login}
        div {i18n.t('games.global.room.score') + ': ' + player.score}
