@import (reference) '../mixins';

.auth-state {
  flex-direction: row !important;
  align-items: center !important;
}

.auth-block {
  .flex-col-stretch();
  .bordered();
  .bg(@green-very-light);

  width: @w8;
  padding: @h1 @w1;

  .auth-header {
    .center();
    .flx2(24px);
    .bold();

    font-size: 24px;
  }

  .auth-form {
    .flex-col-stretch();
    .flx();

    & > :first-child {
      .flex();

      height: @h1;

      .auth-spinner {
        height: 100%;
      }
    }
  }

  .auth-success-caption {
    .flex();
    .flx();
    .bold();
    .center();

    font-size: 16px;
    color: @green;
    letter-spacing: 2px;
    margin-top: -@h2;
  }
}
