@import (reference) '../mixins';

.hidden {
  display: none !important;
}

.fa-close {
  .flex();
  .fs(16px);
  .tr(color);
  .pointer();

  color: @gray-very-dark;
  padding-bottom: 2px;

  &:hover {
    color: @black;
  }
}

.linky {
  .link();
}

.disabled {
  color: @gray-light !important;
  background-color: @transparent !important;
  cursor: default !important;
}

.left {
  float: left;
}

.right {
  float: right;
}
