@import (reference) '../mixins';

.hidden {
  display: none !important;
}

.fa-close {
  .flex();
  .tr(color);
  .pointer();

  color: @gray-very-dark;

  &:hover {
    color: @black;
  }
}

.linky {
  .link();
}

.disabled {
  color: @gray-light !important;
  background-color: @transparent !important;
  cursor: default !important;
}
