@import (reference) '../mixins';

.boarder-input {
  .bordered(@transparent);

  height: @h1;
  padding: 0 @ws;
  outline: none !important;

  &[invalid] {
    border-color: @red;
  }

  &[type='submit'] {
    .tr(background-color);

    border: 0;

    &:not([disabled]) {
      .pointer();

      &.success {
        .tr-bg-color(@green-light, @green, @green-dark);
      }
    }

    &[disabled] {
      .bg(@gray-lighter);
    }
  }

  &::placeholder {
    color: @gray-light;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px @white inset;

    &:not([invalid]) {
      border: none;
      padding: 1px @ws+1;
    }
  }
}
