@import (reference) '../mixins';

.boarder-input {
  .relative();
  .bordered(@gray-lighter);
  .br();

  height: @h1;
  padding: 0 @ws;
  font-weight: 300;

  &[invalid] {
    border-color: @red;
  }

  &[disabled] {
    .bg(@gray-very-light);
  }

  &:not([type="submit"]) {
    .fs(11px);
    .shadow(@w05/4, 0.10);
  }

  &[type='submit'] {
    .tr(background-color);

    border: 0;
    font-weight: 500;

    &:not(input) {
      .flex();
    }

    &:not([disabled]) {
      .pointer();

      &.success {
        .tr-bg-color(@green-light, @green, @green-dark);
      }
    }

    &[disabled] {
      .bg(@gray-lighter);
    }
  }

  &::placeholder {
    color: @gray-light;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px @white inset;
  }
}
