import { FC, memo } from 'react';

import { GameType } from 'common/types/game';

import Game from 'client/components/game/Game/Game';
import {{pascalCased}}GameContent from '{{gameContentFilename}}';

const {{pascalCased}}Game: FC = () => {
  return <Game<GameType.{{constCased}}> renderGameContent={{{pascalCased}}GameContent} />;
};

export default memo({{pascalCased}}Game);
