import { FC, memo } from 'react';

import { GameType } from 'common/types/game';

import Lobby from 'client/components/game/Lobby/Lobby';

const {{pascalCased}}Lobby: FC = () => {
  return <Lobby<GameType.{{constCased}}> />;
};

export default memo({{pascalCased}}Lobby);
