@font-face {
  font-family: "Round";
  src: url(/font-regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Round";
  src: url(/font-bold.otf);
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: Round, Helvetica, sans-serif !important;
}
