div.room-state
  div.before-game
    span.observer-caption.hidden= i18n.t('games.global.room.observer_caption')
    div.players-before-game-list
    include ../partials/ready-btn
  div.game-container
