.root {
  width: 107px;
  border-radius: 8px;
  transition: 0.2s;
  will-change: transform;

  &.inactive {
    filter: grayscale(1);
  }

  &:hover {
    position: relative;
    animation-name: zoomX3;
    animation-delay: 0.8s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    z-index: 2;
  }

  &.selectable:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &.extraZoom:hover {
    animation-name: zoomX5;
  }
}

@keyframes zoomX3 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(3);
  }
}

@keyframes zoomX5 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(5);
  }
}
