.cardGroups {
  height: 125px;
}

.cardGroup {
  width: 100px;
  position: relative;
}

.card {
  position: absolute;
}

.wonderImageWrapper {
  position: relative;
}

.wonderCard {
  position: relative;
  width: 100%;
  z-index: 20;
}

.builtStage {
  position: absolute;
  bottom: -10px;
}

.info {
  margin-top: 16px;
}
