@import "client/styles/mixins";

.header {
  height: var(--lobbyHeaderHeight);
}

.games {
  flex-grow: 1;
  height: 100%;
  overflow: auto;

  @include mobile {
    margin: 0 calc(-1 * var(--appSidePadding));
    padding: 12px;
  }

  @include desktop {
    padding: 8px;
  }
}

.desktopOptionsBlock {
  width: 300px;
  // TODO: get back when after adding Popover
  //height: 100%;
  //overflow: auto;

  @include mobile {
    display: none;
  }
}

.content {
  min-height: 0;

  @include desktop {
    padding: 8px;
  }
}

.mobileCreateGameBlock {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;

  @include desktop {
    display: none;
  }
}

.mobileOptionsBlock {
  height: 100%;
}

.root {
  height: var(--contentIdealHeight);
}
