.player {
  padding: 4px;

  &.active {
    background-color: yellowgreen;
  }

  &:not(:first-child) {
    border-top: 1px solid #000;
  }
}

.meeple {
  width: 20px;
  height: 20px;
}

.root {
  width: 250px;
  border: 1px solid #000;
  background-color: #fff;
}
