@import "client/styles/mixins";

.content {
  grid-area: content;
}

.toolbar {
  grid-area: toolbar;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 8px;
  background-color: #f1f2f3;
}

.pauseContent {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 16px;
  user-select: none;
}

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template:
    "toolbar" min-content
    "content" 1fr
    / 1fr;
  background-color: #fafdfb;
}
