.shuffleOptions {
  padding-left: 16px;
}

.shuffleCardsCountSelect {
  display: inline-block;
}

.shuffleAfterMovesCount {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}

.shuffleAfterMovesCountSelect {
  margin: 0 4px;
}
