@import "client/styles/functions";
@import "client/styles/mixins";

@layer component {
  .label {
    font-size: 13px;
    color: #aaa;
  }

  .trigger {
    margin: 2px 0 4px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: #666;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .options {
    max-height: 400px;
    overflow-y: auto;
  }

  .option {
    background: white;
    padding: 12px 24px;
    cursor: pointer;

    &.selected {
      background: shade(#fff, 5%);
    }

    &.disabled {
      color: #bbb;
      pointer-events: none;
    }

    &:hover {
      background: shade(#fff, 5%);
    }
  }

  .root {
    @include withTransition();

    &:hover {
      .trigger {;
        &::after {
          height: 2px;
          background: #333;
        }
      }
    }
  }
}
