.box {
  width: 20px;
  height: 20px;
  border: 2px solid #666;
  border-radius: 4px;
}

.checkIcon {
  width: 18px;
  height: 18px;
}

.root {
  cursor: pointer;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover {
    .box {
      background: #eee;
    }
  }
}
