.centerArea {
  width: 100%;
  height: 100%;
  grid-area: center;
  display: grid;
  grid-template:
    "top  top    right " 4fr
    "left center right " 1fr
    "left bottom bottom" 4fr
    / 4fr 1fr 4fr;
  gap: 8px;
}

.centerInfo {
  padding: 4px 8px;
  grid-area: center;
  text-align: center;
  font-size: calc(var(--tileHeight) * 0.25);
  border-radius: 8px;
  border: 1px solid #000;
}

.controlPanel {
  grid-area: panel;
  align-self: stretch;
  justify-self: stretch;
}

.root {
  --tileWidth: 0px;
  --tileHeight: 0px;
  --panelSize: 0px;
  --gap: 0px;

  width: 100%;
  height: calc(100vh - 60px);
  display: grid;
  gap: var(--gap);
  align-items: stretch;
  justify-items: stretch;
  padding-bottom: 12px;

  &.horizontal-right {
    grid-template:
      "left top    right panel" auto
      "left center right panel" 1fr
      "left bottom right panel" auto
      / auto 1fr auto var(--panelSize);
  }

  &.horizontal-bottom {
    grid-template:
      "left  top    right" auto
      "left  center right" 1fr
      "left  bottom right" auto
      "panel panel  panel" var(--panelSize)
      / auto 1fr auto;
  }

  &.vertical-right {
    grid-template:
      "top    top    top    panel" auto
      "left   center right  panel" 1fr
      "bottom bottom bottom panel" auto
      / auto 1fr auto var(--panelSize);
  }

  &.vertical-bottom {
    grid-template:
      "top    top    top   " auto
      "left   center right " 1fr
      "bottom bottom bottom" auto
      "panel  panel  panel " var(--panelSize)
      / auto 1fr auto;
  }
}
