div.games-state
  div
    a(href="{router.buildURL('lobby', { params: { game: 'pexeso' } })}") {i18n.t('games.pexeso_caption')}
    br
    a(href="{router.buildURL('lobby', { params: { game: 'set' } })}") {i18n.t('games.set_caption')}
    br
    a(href="{router.buildURL('lobby', { params: { game: 'filler' } })}") {i18n.t('games.filler_caption')}
    br
    a(href="{router.buildURL('lobby', { params: { game: 'virus_war' } })}") {i18n.t('games.virus_war_caption')}
