.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.password {
  margin-top: 8px;
}

.submit {
  margin-top: 20px !important;
  width: 100%;
}

.root {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
