.error {
  color: red;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.submit {
  margin-top: 12px;
  width: 100%;
}

.root {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
