.grid {
  padding: 4px;
  display: grid;
  align-items: start;
  justify-items: start;
  align-content: start;
  justify-content: start;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;

  &.highlighted {
    background-color: #eeee;
  }

  &.isDraggedOver {
    background-color: #7f7;
  }
}
