div.settings-menu
  a.no-link(
    href="{router.buildURL('settings-account')}"
    d-class(menu-active)="{args.route.name === 'settings-account'}"
  ) {i18n.t('settings.menu.account')}
  a.no-link(
    href="{router.buildURL('settings-profile')}"
    d-class(menu-active)="{args.route.name === 'settings-profile'}"
  ) {i18n.t('settings.menu.profile')}
div.settings-content
  SettingsAccount
  SettingsProfile
