@import (reference) '../mixins';

.filler-game {
  .field-rect {
    transform: scaleX(-1);

    &.to-bottom-left {
      transform: scaleY(-1);
    }
  }

  .colors-pane {
    .flex();
    .bordered();

    .color {
      .pointer();
      .bordered();

      width: 40px;
      height: 40px;
      margin: @hs @ws;

      &.current-color {
        cursor: not-allowed;
        opacity: 0.15;
      }
    }
  }
}
