@import (reference) '../mixins';

.pexeso-rooms-table {
  .room-name {
    width: 30%;
  }

  .room-status {
    width: 20%;
  }

  .room-set {
    width: 10%;

    select {
      padding: @hs/2 @ws/2;
    }
  }
}

.pexeso-game {
  .field {
    .flex-col-stretch();

    .cards-row {
      .flex-stretch();

      .card-container {
        .relative();

        width: @w2;
        height: @w2;
        border-radius: 3 * @border-radius;
        margin: @hs;
        color: white;
        font-size: 8px;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);

        .card {
          .tr(transform);

          opacity: 1;
          width: 100%;
          height: 100%;
          transform: scaleX(1);

          &.opened {
            transform: scaleX(0);
          }

          &.not-in-play {
            .tr-long(opacity);

            opacity: 0;
          }
        }
      }
    }
  }
}
