@import (reference) '../mixins';

.set-game {
  @card-width: 105px;
  @card-height: 150px;
  @card-margin: @hs;

  .field {
    .relative();
    .tr-very-long(min-width);

    height: 3 * @card-height + 4 * @card-margin;

    .card-container {
      .absolute();
      .flex-col();
      .bordered();
      .bg(@background-color);
      .tr-very-long(all);

      width: @card-width;
      height: @card-height;
      border-radius: 3 * @border-radius;
      opacity: 1;

      &.selected {
        .rgba(#000, 0.10);

        transition-duration: 0s;
      }

      &.right {
        .bg(@green-lighter);
      }

      &.wrong {
        .bg(@red-lighter);
      }

      &.matched {
        opacity: 0;
      }

      .shape {
        &:not(:first-child) {
          margin-top: 2*@hs;
        }
      }
    }
  }
}
