@import (reference) '../mixins';

.virus_war-game-container {
  .field {
    border-collapse: collapse;

    td {
      .relative();

      width: @h1;
      height: @h1;
      border: 1px solid @black;
      overflow: hidden;

      .virus-cell {
        .pos-center();
      }
    }

    &.my-turn {
      td {
        &.available {
          .rgba(#000, 0.1);
        }

        &:empty {
          .pointer();

          &:hover {
            .rgba(#000, 0.25);
          }
        }
      }
    }
  }
}
