.root {
  width: 130px;
  height: 195px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;

  &.selected {
    background-color: lavender;
  }
}

@media (max-width: 1000px) {
  .root {
    width: 80px;
    height: 120px;
  }
}


