@import "client/styles/functions";
@import "client/styles/mixins";

@layer component {
  .size {
    &_m {
      --buttonSize: 40px;

      padding: 0 24px;
    }

    &_s {
      --buttonSize: 32px;

      padding: 0 12px;
    }
  }

  .variant {
    &_contained {
      --buttonColor: white;
      --buttonBackgroundColor: #333;

      &:hover {
        --buttonBackgroundColor: #{shade(#333, 15%)};

        box-shadow:
          0 2px 4px -1px rgb(0 0 0 / 20%),
          0 4px 5px 0 rgb(0 0 0 / 14%),
          0 1px 10px 0 rgb(0 0 0 / 12%);
      }

      &:active {
        --buttonBackgroundColor: #{shade(#333, 30%)};

        box-shadow:
          0 2px 4px -1px rgb(0 0 0 / 20%),
          0 2px 5px 0 rgb(0 0 0 / 14%),
          0 1px 5px 0 rgb(0 0 0 / 12%);
      }
    }

    &_outlined {
      --buttonColor: #333;
      --buttonBackgroundColor: transparent;

      &:hover {
        --buttonBackgroundColor: #eee;
        --buttonBorderColor: #333;
      }

      &:active {
        --buttonBackgroundColor: #{shade(#eee, 10%)};
      }
    }
  }

  .disabled {
    cursor: initial;
    opacity: 0.3;
  }

  .root {
    @include withTransition();

    --buttonBorderColor: #333;

    height: var(--buttonSize);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--buttonColor);
    background: var(--buttonBackgroundColor);
    border: 1px solid var(--buttonBorderColor);
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
  }
}
