table.field(d-class="{args.isMyTurn && 'my-turn'}")
  d-each(set="{field}", item="row", index="y", uid="{y}")
    tr
      d-each(set="{row}", item="cell", index="x", uid="{x}")
        td(d-class="{ cell.isAvailable && 'available'}")
          d-if(if="{cell.player}")
            img.shape(
              src="{'/public/images/virus-war/' + cell.type + '-' + mapPlayersToColors[cell.player] + '.png'}"
              d-on-click="{clickCell(x, y)}"
            )
