@import "client/styles/mixins";

@layer component {
  .crossIcon {
    @include withTransition();

    --iconColor: #aaa;

    flex-shrink: 0;
    color: #aaa;
    cursor: pointer;

    &:hover {
      --iconColor: #333;
    }
  }

  .header {
    height: var(--headerHeight);
  }

  .content {
    height: calc(100% - var(--headerHeight) - var(--gap));
    overflow: auto;
  }

  .modal {
    --headerHeight: 0;
    --gap: 0;
    --modalBackground: #fff;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 24px;
    background-color: var(--modalBackground);

    &.withHeader {
      --headerHeight: 40px;
      --gap: 20px;
    }
  }

  @include desktop {
    .modal {
      border-radius: 12px;
    }
  }

  @include mobile {
    .modal {
      width: 100vw;

      &.mobileFullHeight {
        height: 100vh;
      }
    }
  }
}

@layer override {
  @include mobile {
    .overlay {
      --overlayPadding: 0px;
    }
  }
}
