@import (reference) '../../mixins';

.route-settings-profile {
  .main.avatar-container {
    .br(@hs);

    width: @w5;
    height: @w5;

    .main.avatar {
      &[src] {
        ~ .avatar-replacement {
          .hide();
        }
      }
    }

    .avatar-replacement,
    .open-popup {
      .absolute();
      .pointer();

      top: 0;
      left: 0;
      width: 100%;
      height: 100%
    }

    .avatar-replacement {
      .flex();
      .fs(@w2);
      .clr(@green);
    }

    .avatars-container {
      @avatars-container-border-width: @border-line-width;
      @avatars-in-row: 4;
      @avatar-size: @w5;
      @space-between-avatars: @hs;

      .relative();
      .bordered(@black, @avatars-container-border-width);
      .bg(@white);

      width: auto;
      min-width: @avatar-size * @avatars-in-row + @space-between-avatars * (@avatars-in-row + 1);
      height: @h16;
      box-sizing: content-box;
      overflow-y: auto;

      .spinner-container {
        .pos-center();
        .flex();
        .bg(@background-color);

        width: 100%;
        height: 100%;

        .spinner {
          width: @w2;
          height: @w2;
        }
      }

      .avatars {
        .bg(@background-color);

        width: @avatar-size * @avatars-in-row +
          @space-between-avatars * (@avatars-in-row + 1);
        min-height: 100%;
        padding: @space-between-avatars;

        .avatar-container {
          .inline-block();
          .br(@hs);
          .bordered(@black, @border-line-width);

          width: @avatar-size;
          height: @avatar-size;
          margin-left: @space-between-avatars;
          margin-top: @space-between-avatars;

          .first-row-loop(@counter) when (@counter >= 1) {
            &:nth-child(@{counter}) {
              margin-top: 0;
            }
            .first-row-loop(@counter - 1);
          }

          .first-row-loop(@avatars-in-row);

          &.current-avatar {
            border-color: @red;
          }

          &:nth-child(@{avatars-in-row}n+1) {
            margin-left: 0;
          }

          .avatar {
            .pointer();
          }

          .delete-avatar {
            .absolute();
            .pointer();
            .rgba(@white, 0.85);
            .clr(@red-dark);

            bottom: 0;
            right: 0;
            width: @h1;
            height: @h1;
            border-top-left-radius: 100%;

            .fa-trash-o {
              .absolute();
              .fs(17px);

              bottom: 4px;
              right: 4px;
            }
          }

          .uploader-progress-bar {
            .absolute();
            .rgba(@white, 0.75);
            .tr(height);

            width: 0;
            height: 0;
          }

          .add-avatar {
            .absolute();
            .fs(@w2);

            width: 100%;
            height: 100%;

            .upload-file-btn {
              .flex();
              .pointer();

              width: 100%;
              height: 100%;
              color: @green;

              &.forbidden {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
}
