@import (reference) '../../mixins';

.main-footer {
  .flex-col-stretch();
  .relative();

  height: @h2;

  &:before {
    .pseudo();
    .absolute();
    .block();
    .bg(@black);

    top: -@border-line-width;
    left: 0;
    width: 100%;
    height: @border-line-width;
  }

  .languages {
    .flex();

    .language {
      .flag-icon {
        margin-right: @ws;
      }

      .lang-caption {
        .flx();
      }

      .changing-lang-spinner {
        .flx2(@h1 - 2*@hs);
      }

      &.disabled {
        .flag-icon {
          opacity: 0.25;
        }
      }
    }
  }
}
