@background-color: #fdfffe;
@transparent: rgba(0,0,0,0);
@white: #fff;
@black: #000;

@gray-very-light: lighten(@gray, 25%);
@gray-lighter: lighten(@gray, 15%);
@gray-light: lighten(@gray, 7%);
@gray: #a9adaa;
@gray-dark: darken(@gray, 7%);
@gray-darker: darken(@gray, 15%);
@gray-very-dark: darken(@gray, 25%);

@green-very-light: lighten(@green, 25%);
@green-lighter: lighten(@green, 15%);
@green-light: lighten(@green, 7%);
@green: #73c879;
@green-dark: darken(@green, 7%);
@green-darker: darken(@green, 15%);
@green-very-dark: darken(@green, 25%);

@blue-very-light: lighten(@blue, 25%);
@blue-lighter: lighten(@blue, 15%);
@blue-light: lighten(@blue, 7%);
@blue: #81acc8;
@blue-dark: darken(@blue, 7%);
@blue-darker: darken(@blue, 15%);
@blue-very-dark: darken(@blue, 25%);

@orange-very-light: lighten(@orange, 25%);
@orange-lighter: lighten(@orange, 15%);
@orange-light: lighten(@orange, 7%);
@orange: #f6c160;
@orange-dark: darken(@orange, 7%);
@orange-darker: darken(@orange, 15%);
@orange-very-dark: darken(@orange, 25%);

@red-very-light: lighten(@red, 25%);
@red-lighter: lighten(@red, 15%);
@red-light: lighten(@red, 7%);
@red: #e36651;
@red-dark: darken(@red, 7%);
@red-darker: darken(@red, 15%);
@red-very-dark: darken(@red, 25%);

@border-line-width: 2px;
@border-radius: 2px;

@fa-font-path: '../fonts/font-awesome';
@flag-icon-css-path: '/public/images/flags';

@w05: 20px;
@w1: 40px;
@w2: @w1 + @w1;
@w3: @w2 + @w1;
@w4: @w3 + @w1;
@w5: @w4 + @w1;
@w6: @w5 + @w1;
@w7: @w6 + @w1;
@w8: @w7 + @w1;
@w9: @w8 + @w1;
@w10: @w9 + @w1;
@w11: @w10 + @w1;
@w12: @w11 + @w1;
@w13: @w12 + @w1;
@w14: @w13 + @w1;
@w15: @w14 + @w1;
@w16: @w15 + @w1;
@w17: @w16 + @w1;
@w18: @w17 + @w1;
@w19: @w18 + @w1;
@w20: @w19 + @w1;

@h05: 15px;
@h1: 30px;
@h2: @h1 + @h1;
@h3: @h2 + @h1;
@h4: @h3 + @h1;
@h5: @h4 + @h1;
@h6: @h5 + @h1;
@h7: @h6 + @h1;
@h8: @h7 + @h1;
@h9: @h8 + @h1;
@h10: @h9 + @h1;
@h11: @h10 + @h1;
@h12: @h11 + @h1;
@h13: @h12 + @h1;
@h14: @h13 + @h1;
@h15: @h14 + @h1;
@h16: @h15 + @h1;
@h17: @h16 + @h1;
@h18: @h17 + @h1;
@h19: @h18 + @h1;
@h20: @h19 + @h1;

@ws: @w1 * 0.2;
@hs: @h1 * 0.2;
