.otherPlayers {
  display: flex;
}

.otherPlayerWonder {
  flex: 0 0 400px;
}

.mainBoard {
  margin-top: auto;
}

.root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 48px;
  width: 100%;
  background: beige;
  padding: 12px;
}
