@import "client/styles/mixins";

.otherPlayers {
  display: flex;
}

.otherPlayerWonder {
  flex: 0 0 400px;
}

.mainBoard {
  margin-top: auto;
}

.pickCitySide {
  @include withTransition();

  width: 40vw;
  opacity: 0.6;
  cursor: pointer;

  &.picked {
    opacity: 1;
  }

  &:not(.picked):hover {
    opacity: 0.8;
  }
}

.root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 48px;
  width: 100%;
  background: beige;
  padding: 12px;
}
