@import "client/styles/mixins";

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columnsCount), min-content);
  gap: 20px;
}

.root {
  display: flex;
  gap: 40px;
}

@include mobile {
  .root {
    flex-direction: column;
    gap: 20px;
  }
}
