section.main-content
  //div.alerts
    div.very-low
      +alertsBlock()
    div.low
      +alertsBlock()
    div.medium
      +alertsBlock()
    div.high
      +alertsBlock()
    div.very-high
      +alertsBlock()
  NotFoundRoute
  Home
  Settings
  Auth
  Games
