section.main-content
  div.alerts
    d-each(set="{global.alerts}", item="priorityAlerts", index="priority", uid="{priority}")
      div(d-class="{priority}")
        d-each(set="{priorityAlerts}", item="levelAlerts", index="level", uid="{level}")
          div(d-class="{level + '-alerts'}")
            d-each(set="{levelAlerts}", item="alert", uid="{alert.id}")
              Alert(alert="{alert}")
  NotFound
  Home
  Settings
  Auth
  Games
