mixin alertsBlock
  div.success
  div.info
  div.warning
  div.error

section.main-content
  div.alerts
    div.very-low
      +alertsBlock()
    div.low
      +alertsBlock()
    div.medium
      +alertsBlock()
    div.high
      +alertsBlock()
    div.very-high
      +alertsBlock()
  NotFound
  Home
  Settings
  Auth
  Games
