.decisions {
  flex-grow: 1;
}

.decision {
  height: 50px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: #eee;
  }

  &.selected {
    background-color: #77ff77;
  }
}

.moveInfo {
  height: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.button {
  flex-grow: 1;
}
