.tile {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;

  &.withTransition {
    transition: transform 0.15s ease-out;
  }
}

.tiles {
  display: inline-block;
  position: relative;
}
