@import "client/styles/mixins";

.tile {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;

  &.withTransition {
    @include withTransition(transform, 0.15s);
  }
}

.tiles {
  display: inline-block;
  position: relative;
}
